.red-border {
    border: 1px solid red;
}

.red-text {
    color: red;
}

fieldset.scheduler-border {
    border: 1px solid #0D1B3E4D;
    border-radius: 4px;
    padding: 0 20px 20px;
    margin-top: 20px;
}

legend.scheduler-border {
    text-align: left;
    width: auto;
    padding: 0 5px;
    border-bottom: none;
    margin-top: -12px;
    background-color: #FFF;
}

.ordertype-label {
    padding-top: 2px;
}

.invoice-shipping-report .order-type {
    color: #253EAE;
    font-size: 14px;
    font-family: 'LatoBold', Helvetica, Arial, Verdana, Tahoma, sans-serif;
    display: inline-block;
    margin-right: 30px;
}
.report-type-checkboxes .form-check {
    min-height: 24px;
}